/* FLEXBOX MAIN */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
#main {
    display: flex;
    flex: 1;
    padding-left: 10vw;
    padding-right: 10vw;
}
#main > article {
    flex: 1;
    order: 1;
}
#main > aside {
    flex: 0 0 30vw;
}
#main > aside {
    order: 2;
}
header {
    background: rgb(0, 0, 0);
    height: 8vh;
    position: sticky;
    top: 0;
}
footer {
    background-color: black;
}
footer,
article,
nav,
aside {
    padding: 1em;
}
/* ARTICLE AND ASIDE*/
.space {
    margin-top: 5vh;
    background-color: white;
}
/* NAVBAR */
#navbar {
    width: 100%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    padding: 2vh 2vw 0vh 2vw;
}
.navbar {
    background-color: rgb(0, 0, 0);
}
.navbar li {
    float: left;
    margin-right: 10vh;
}
.navbar li a {
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar > h1:hover,
h2:hover {
    color: rgb(43, 226, 171);
}
/* REUSABLE COMPONENTS */
.round-photo {
    border-radius: 50%;
}
.icon {
    height: 2rem;
}
.action-icon {
    height: 4vh;
    margin-right: 2vw;
    vertical-align: middle;
}
.blue {
    background-color: #17a2b8;
    color: white;
}
#float {
    float: right;
}
.float {
    float: right;
}
.bottom {
    border: 0.5rem solid lightslategray;
    border-top: none;
}
.vertical {
    margin-bottom: 10vh;
}
.top {
    height: 8vh;
    padding: 1vh;
}
.profile-top {
    height: 14vh;
    padding: 1vh;
}
.gray {
    background-color: rgb(56, 64, 71);
    color: white;
}
.no-bullet {
    list-style: none;
}
.inline {
    display: inline;
}
.more {
    border-top: 0.5rem solid lightslategray;
    height: 2vh;
}
#headshot {
    margin-top: -6vh;
    margin-left: 3vw;
    width: 10rem;
}
.padded-left-bottom > * {
    margin-left: 3vw;
    margin-bottom: 1vw;
}
.round-photo {
    border-radius: 50%;
    height: 8vh;
    vertical-align: middle;
}
.text-style span {
    font-size: 5vh;
    margin-left: 2vw;
}
.users > li {
    margin: 0vh 0 1vh 1vw;
    padding-top: 1vh;
}
#education-content {
    padding-top: 2vh;
}
.users > * {
    vertical-align: middle;
}
.button {
    font-size: 2.5vh;
    padding: 0.5vh 0.5vw;
}
